.under-construction {
	background-image: url('../images/black-board.jpg');
}
.intro {
    background-image: url('../images/Background/Intro2.jpg');
}
/*.large-header {
    background-image: url('../images/Background/Fr6.jpg');
}*/
.large-header {
    /*background-image: url('../images/Background/Fruitstore1.jpg');*/
    background-image: url('../images/Background/544750.jpg');
}
/*.main-menu { 
	background-image: url('../images/bg_2.jpg');
}*/



/*body { 
	background-image: url('../images/bg_2.jpg');
}*/
