
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/CustLayout.cshtml";
}

<style>
</style>

<div class="col-xs-12"style="margin-top:15%!important">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-3">
        <a href="/Home/CustomerViews1">

            <img style="border-radius:56%!important" src="~/images/Background/SHOP1.jpg" />

        </a>
    </div>
    <div class="col-xs-2">
     </div>
    <div class="col-xs-3">
        <a href="/Home/CustomerViews2">
            <img style="border-radius:56%!important" src="~/images/Background/SHOP2.png" />
        </a>
    </div>
    <div class="col-xs-2">

    </div>
</div>
