
@{
    ViewBag.Title = "جرد المبيعات";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<style>
    .disabledDiv {
        pointer-events: none;
        opacity: 0.7;
    }

    .display_none {
        display: none !important;
    }

    .textcentr_pading {
        padding-right: 45px !important;
    }

    .btnplasandmines {
        display: inline-block;
        padding: 2px 4px;
        height: 36px;
        margin-bottom: 0;
        font-size: 10px;
        font-weight: 400;
        line-height: 1.428571;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        font-weight: bold;
    }

    .panel-body {
        background-color: aliceblue;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading panel_me">
        <i class="glyphicon glyphicon-pencil icon_panel"></i><label class="span_item">جرد المبيعات</label><label class="span_item"></label>
    </div>
    <div class="panel-body">

        <div id="DivFilter" class="col-lg-12">
            <div id="DivHederMaster" class="row  margingred ">
                <div class="col-lg-12">
                    <label class="col-lg-1 col-xs-4   pading_2  ">المنديب</label>
                    <div class="col-lg-3 col-xs-8">
                        <select id="ddlUserMaster" name="" class="form-control" style='width: 100%;border-radius: 30px;'></select>
                    </div>


                    <label class="col-lg-1 col-xs-4   pading_2 textcentr_pading ">من تاريخ</label>

                    <div class="col-md-2 col-sm-5 col-xs-10">
                        <input type="date" class="form-control input-sm addable editable" name="GosiJoinDate" id="txtFromDate">
                    </div>

                    <label class="col-lg-1 col-xs-4   pading_2 textcentr_pading ">الي تاريخ</label>

                    <div class="col-md-2 col-sm-5 col-xs-10">
                        <input type="date" class="form-control input-sm addable editable" name="GosiJoinDate" id="txtToDate">
                    </div>

                    <div class="col-md-2 col-sm-5 col-xs-10" style="width: 10%;">
                        <div class="btn-group">
                            <label type="button" class="btn btn-warning" style="background-color: #031665;">طباعة</label>
                            <button type="button" class="btn btn-warning dropdown-toggle" style="background-color: #031665;" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-hand-down"></span>
                            </button>
                            <div class="dropdown-menu" role="menu" style="border-radius:15px">
                                <div class="col-lg-12">
                                    <button style="width:100%;background-color: #031665;color:white" id="btnPrint" type="button" class=" display_none btn btn-custon-four  primary-btn-cl">طباعة  <span class="adminpro-icon adminpro-paint-roller"></span></button>
                                </div>
                                <div class="col-lg-12">
                                    <button style="width:100%;background-color: #031665;color:white" id="btnPrintTrview" type="button" class="  btn btn-custon-four  primary-btn-cl">عرض تقرير  <span class="adminpro-icon adminpro-paint-roller"></span></button>
                                </div>

                                <div class="col-lg-12">
                                    <button style="width:100%;background-color: #031665;color:white" id="btnPrintTrPDF" type="button" class="marginbtn btn btn-custon-four  primary-btn-cl">تنزيل<span class="adminpro-icon adminpro-download-arrow"></span>   PDF  </button>
                                </div>

                                <div class="col-lg-12">
                                    <button style="width:100%;background-color: #031665;color:white" id="btnPrintTrEXEL" type="button" class="marginbtn btn btn-custon-four  primary-btn-cl">تنزيل <span class="adminpro-icon adminpro-download-arrow"></span>  EXCEL  </button>
                                </div>

                            </div>
                        </div>
                    </div>
                    
                        
                        <div class="col-lg-12">
                            <label class="col-lg-3 col-xs-4  display_none  pading_2 textcentr_pading ">نوع التقرير</label>
                            <div class="col-lg-3">
                                
                                <label class="col-lg-2 display_none" for="Detail" style="left: 24px;top: 10px;">تفصيلي</label>

                                <input class="col-lg-1 display_none form-control" type="radio" id="sammury" name="reprd" value="Sammury" style="width: 20px;" />
                            </div>
                            <div class="col-lg-3">
                                <label class="col-lg-2 display_none" for="sammury" style="left: 24px;top: 10px;">ملخص</label>

                                <input class="col-lg-1 display_none form-control" type="radio" id="Detail" name="reprd" value="Detail" style="width: 20px;">
                            </div>
                        </div>
                      

                  
                </div> 


                </div>



        </div>

      
       
    </div>

</div>

<link href="~/Style_design/Stylecheckbox.css" rel="stylesheet" />
<script>
    $(document).ready(function () {

        // Initialize select2
        $("#ddlUserMaster").select2();
        $("#ddlCustomerMaster").select2();
        //  $("#ddlStateType").select2();


        // Read selected option
        $('#but_read').click(function () {
            var username = $('#ddlUserMaster option:selected').text();
            var userid = $('#ddlUserMaster').val();

            var username = $('#ddlCustomerMaster option:selected').text();
            var userid = $('#ddlCustomerMaster').val();


            $('#result').html("id : " + userid + ", name : " + username);
        });
    });
</script>
@Scripts.Render("~/Bundles/ClientApp")
<script src="~/ClientApp/JsGrid.js"></script>
@*<script src="~/ClientApp/Purchase/PurTrReceive.js"></script>*@
<script src="~/ClientApp/Reports/Salesinventory.js"></script>