@using Inv.WebUI.Resources
@{
    ViewBag.Title = "مرتجع الفواتير";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<style>
    .disabledDiv {
        pointer-events: none;
        opacity: 0.7;
    }

    .display_none {
        display: none !important;
    }

    .textcentr_pading {
        padding-right: 45px !important;
    }

    .btnplasandmines {
        display: inline-block;
        padding: 2px 4px;
        height: 36px;
        margin-bottom: 0;
        font-size: 10px;
        font-weight: 400;
        line-height: 1.428571;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        font-weight: bold;
    }

    .panel-body {
        background-color: aliceblue;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading panel_me">
        <i class="glyphicon glyphicon-pencil icon_panel"></i><label class="span_item">   سداد دفعات العملاء</label><label class="span_item"></label>
    </div>
    <div class="panel-body">

        <div id="DivFilter" class="col-lg-12">
            <div id="DivHederMaster" class="row  margingred ">
                <div class="col-lg-12">
                  

                    <label class="col-lg-1 col-xs-4   pading_2  ">العميل</label>
                    <div class="col-lg-2 col-xs-8">
                        <select id="ddlCustomerMaster" name="" class="form-control" style='width: 100%;border-radius: 30px;'></select>
                    </div> 

                    <label class="col-lg-1 col-xs-4   pading_2 textcentr_pading ">من تاريخ</label>

                    <div class="col-md-2 col-sm-5 col-xs-10">
                        <input type="date" class="form-control input-sm addable editable" name="GosiJoinDate" id="txtFromDate">
                    </div>

                    <label class="col-lg-1 col-xs-4   pading_2 textcentr_pading ">الي تاريخ</label>

                    <div class="col-md-2 col-sm-5 col-xs-10">
                        <input type="date" class="form-control input-sm addable editable" name="GosiJoinDate" id="txtToDate">
                    </div>

                    <div class="col-md-1 col-sm-5 col-xs-10">
                        <button id="btnShow" type="button" class="btn btn-info"><span class="glyphicon glyphicon-save"></span>عرض الاقساط</button>

                    </div>
                    <div class="col-md-1 col-sm-5 col-xs-10">
                        <button id="btnAdd" type="button" class="btn btn-success">
                                <span class="glyphicon"></span> استلام نقديه
                            </button>

                    </div>
                    <div class="btn-group">
                        <label type="button" class="btn btn-warning" style="background-color: #031665;">طباعة</label>
                        <button type="button" class="btn btn-warning dropdown-toggle" style="background-color: #031665;" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-hand-down"></span>
                        </button>
                        <div class="dropdown-menu" role="menu" style="border-radius:15px">
                            <div class="col-lg-12">
                                <button style="width:100%;background-color: #031665;color:white" id="btnPrint" type="button" class="  btn btn-custon-four  primary-btn-cl"><span class="adminpro-icon adminpro-paint-roller"></span>طباعة</button>
                            </div>
                            <div class="col-lg-12">
                                <button style="width:100%;background-color: #031665;color:white" id="btnPrintTrview" type="button" class="  btn btn-custon-four  primary-btn-cl"><span class="adminpro-icon adminpro-paint-roller"></span>عرض تقرير</button>
                            </div>

                            <div class="col-lg-12">
                                <button style="width:100%;background-color: #031665;color:white" id="btnPrintTrPDF" type="button" class="marginbtn btn btn-custon-four  primary-btn-cl"><span class="adminpro-icon adminpro-download-arrow"></span>تنزيل PDF</button>
                            </div>

                            <div class="col-lg-12">
                                <button style="width:100%;background-color: #031665;color:white" id="btnPrintTrEXEL" type="button" class="marginbtn btn btn-custon-four  primary-btn-cl"><span class="adminpro-icon adminpro-download-arrow"></span>تنزيل EXCEL</button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-12">

           

                </div>


                <div id="divMasterGridiv" class="col-lg-12  margingred  borderred  display_none   " style="width: 99%;">
                    <div class="col-lg-3 col-xs-8" style="margin-bottom: 4px;margin-right: 27px;margin-top: 9px;">
                        <input id="searchbutmemreport" name="" type="text" class="form-control  text_Display" placeholder="بحث ">
                    </div>
                    <div class="col-lg-12 ">
                        @*رقم الفاتورة	العميل	عدد الأصناف	عدد العبوات	الإجمالي	الضريبة	الصافي	العمولة	المطلوب سداده*@
                        <table id="divMasterGrid"></table>
                    </div>
                </div>

            </div>



        </div>

        <div id="DivMassage" class="col-lg-12  margingred  borderred display_none">

            <h4 id="Text_Massage" style=""> رساله </h4>

        </div>
        <div id="rowData" class=" col-lg-12  margingred  borderred  display_none ">

            <div id="Data_heder">


                <div id="div_Master_Hedr" class="col-lg-12 margingred  ">


                    <br />
                    <div id="div_Master" class="">
                        <div class="col-lg-12 ">

                            <div class="col-lg-8" style="">

                                <div class="col-lg-5">

                                </div>
                                <div class="col-lg-7">

                                </div>
                            </div>

                            <div class="col-lg-2 col-xs-8">


                                <button id="btnBack" type="button" class="btn btn-warning display_none"> تراجع <span class="glyphicon glyphicon-save"></span></button>
                                <button id="btnSave" type="button" class="btn btn-success display_none" style="margin-right:9%"> حفظ <span class="glyphicon glyphicon-save"></span></button>

                            </div>
                          
                            <div class="col-md-1 col-sm-5 col-xs-10">
                                <button id="btnUpdate" type="button" class="display_none btn btn-primary">  تعديل <span class="glyphicon glyphicon-edit"></span></button>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <label class="col-lg-1 col-xs-4   pading_2  ">  كود العميل</label>
                            <div class="col-md-2 col-sm-5 col-xs-10">
                                <input type="text" class="form-control input-sm addable editable" name="CustomerCODE" disabled id="txtNumber">
                            </div>


                            <label class="col-lg-1 col-xs-4   pading_2 textcentr_pading "> اسم العميل </label>
                            <div class="col-md-2 col-sm-5 col-xs-10">
                                <input type="text" class="form-control input-sm addable editable" name="CUSTOMER_NAME" disabled id="txtDate">
                            </div>



                            <label class="col-lg-1 col-xs-4   pading_2 textcentr_pading  " style="padding-right:25px">رقم تليفون </label>
                            <div class="col-md-2 col-sm-5 col-xs-10">
                                <input type="text" class="form-control input-sm addable editable" disabled name="PHONE" id="txttimer">
                            </div>





                        </div>
                        <div id="div_Balance" class="col-lg-12">
                            <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2AccDefCustomer ">   الرصيد الافتتاحى </label>
                            <div class="col-lg-2 col-xs-8">
                                <input id="txt_Openbalance" disabled="" name="Openbalance" type="number" class="form-control  text_Display " placeholder="الرصيد الافتتاحى">
                            </div>
                            <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2AccDefCustomer text-center">  مدين   </label>
                            <div class="col-lg-2 col-xs-8">
                                <input id="txt_Debit" disabled="" name="Debit" type="number" class="form-control  text_Display" placeholder="مدين">
                            </div>
                            <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2AccDefCustomer text-center">دائن</label>
                            <div class="col-lg-2 col-xs-8">
                                <input id="txt_DebitFC" disabled="" name="Credit" type="number" class="form-control  text_Display" placeholder="دائن ">
                            </div>

                            <label class="col-lg-1 col-xs-4  marginstenig pading_lep  pading_2AccDefCustomer text-end">المبلغ المدفوع</label>
                            <div class="col-lg-2 col-xs-8">
                                <input id="txt_balance" disabled="" name="CreditLimit" type="number" class="form-control  text_Display " placeholder="الرصيد">
                            </div>

                            <label class=" display_none col-lg-1 col-xs-4  marginstenig pading_lep  pading_2AccDefCustomer ">الحد الائتماني</label>
                            <div class="col-lg-2 col-xs-8">
                                <input id="txt_CreditLimit" disabled="" name="" type="number" class="display_none form-control  text_Display" placeholder="الحد الائتماني ">
                            </div>



                        </div>
                        <div class="col-lg-12">
                            <label class="col-lg-1 col-xs-4   pading_2  "> النوع التسويه</label>
                            <div class="col-md-2 col-sm-5 col-xs-10">
                                <select id="txt_Type" name="CreditPeriod" disabled class="form-control  text_Display">
                                    <option value="1">قبض</option>
                                    <option value="0">صرف</option> 
                                </select>
                            </div>

                       
                            <label class="   col-lg-1 col-xs-4  marginstenig pading_lep  pading_2AccDefCustomer text-center ">التاريخ</label>
                            <div class="col-lg-2 col-xs-8">
                                <input id="txt_NewDate" disabled="" name="" type="date" class=" form-control  text_Display"  >
                            </div>

                            <label class="col-lg-1 col-xs-4   pading_2 textcentr_pading ">المبلغ المدفوع </label>
                            <div class="col-md-2 col-sm-5 col-xs-10">
                                <input type="number" class="form-control input-sm addable editable" name="ShootMoney" disabled id="txtShootMoney">
                            </div>
                            <div class="col-xs-1" style="z-index: 9999;">
                                <button style=" left: 21%;" type="button" class="src-btn btn btn-warning " title="Search on Supplier " disabled id="btnCustomerSearch" name="InvoiceSearch">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <label class="col-lg-2 col-xs-4   pading_2 textcentr_pading " style="left: 8%;font-weight: bold;font-size: 17px;color: #005bff;">  <  اختار العميل   </label>
                          

                        </div>
                        <div class="col-lg-12">
                            <label class="col-lg-1 col-xs-4   pading_2  ">ملاحظات  </label>

                            <div class="col-md-8 col-sm-5 col-xs-10">
                                <textarea type="text" class="form-control input-sm addable editable " disabled name="Remarks" id="txtRemarks"></textarea>
                            </div>
                        </div>

                      
                    </div>
                </div>
               

            </div>



        </div>
       
    </div>

</div>

<link href="~/Style_design/Stylecheckbox.css" rel="stylesheet" />
<script>
    $(document).ready(function () {

       
        $("#ddlCustomerMaster").select2();
        //  $("#ddlStateType").select2();


        // Read selected option
        $('#but_read').click(function () {
        

            var username = $('#ddlCustomerMaster option:selected').text();
            var userid = $('#ddlCustomerMaster').val();


            $('#result').html("id : " + userid + ", name : " + username);
        });
    });
</script>
@Scripts.Render("~/Bundles/ClientApp")
<script src="~/ClientApp/JsGrid.js"></script>
@*<script src="~/ClientApp/Purchase/PurTrReceive.js"></script>*@ 
<script src="~/ClientApp/Generalsetting/Catch_Receipt.js"></script>